footer {
  grid-area: footer;
  background: rgb(13, 71, 161);
  text-align: center;
  padding-top: 5vh;
  width: 100%;
}

.redes,
.politicas,
.derechosreservados {
  color: rgb(247, 249, 249);
  padding: 5px;
  font-family: cursive;
}