@import "footer","header","variable";
body {
  margin: 0;
  padding: 0;
  width: $ancho;
  background: $gray;
  font-family: $font;
}

/*PLANTILLAS*/

#plantillahome {
  display: grid;
  height: $alto;
  width: $ancho;
  grid-template-areas: "header header" "noticias ofertas" "footer footer";
  grid-template-columns: 1fr 1fr;
}

#plantillasesion {
  display: grid;
  height: $alto;
  width: $ancho;
  grid-template-areas: "header header" "imagensesion datos" "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#plantillacuenta {
  display: grid;
  height: $alto;
  width: $ancho;
  grid-template-areas: "header" "registro" "footer";
  grid-template-columns: 1fr;
}

#plantillanosotros {
  display: grid;
  height: $alto;
  width: $ancho;
  grid-template-areas: "header header header" "fotos historia historia" "fotos historiados historiados" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#plantillaaccesorios {
  display: grid;
  height: $alto;
  width: $ancho;
  grid-template-areas: "header" "accesorios1" "accesorios2" "footer";
  grid-template-columns: 1fr;
}


.container-fluid {
  text-align: center;
  align-content: center;
}

.form-control {
  box-shadow: none;
  size: adjust ($step*3);
}

.d-block {
  border-radius: $step;
}

.carouselslide {
  width: $ancho;
  padding-top: ($step*4)+5;
  font-family: $font;
}

.btn {
  background: $white;
  font-family: $font;
  color: $blue;
  border-bottom: 5px;
  border: 2px solid $gray;
  transition: all 0.4s;

  &:hover {
    border: 2px solid $white;
    background: $blue;
  }
}

/*PSEUDO-CLASES*/

div ul:link {
  color: $white;
}

input {
  border-radius: 2px;
  border: 1px solid $white;
}

/*GRILLAS*/

#noticias {
  grid-area: noticias;
  background-color: $gray;
  padding: $step;
  display: flex;
  justify-content: center;
}

#ofertas {
  grid-area: ofertas;
  @extend #noticias;
}

#datos {
  grid-area: datos;
  display: flexbox;
  padding: ($step*5);
  margin: $step;
  border-radius: ($step*2);
  align-content: center;
  height: fit-content;
  width: fit-content;
  border: 2px solid $white;
  background: $gray;
  color: $white;
}

#imagensesion {
  grid-area: imagensesion;
  background-image: url(../imageneswep/imagenaccesorios.jpg);
  color: $white;
  padding: 0 ($step*5);
  background-size: cover;
  background-position: center;
  border-radius: $step;
  width: $ancho;
  height: ($alto)-15;
}

#registro {
  grid-area: registro;
  @extend #datos;
}

#fotos {
  grid-area: fotos;
  background-image: url(../imageneswep/top-de-accesorios-gaming.jpg);
  @extend #imagensesion;
}

#historia {
  grid-area: historia;
  background-color: $gray;
  color: $white;
  border-radius: ($step)/2;
  height: ($alto)-60;
  padding: ($step)/2;
  margin: ($step)/2 $step;
  border: 2px solid $white;
}

#historiados {
  grid-area: historiados;
  @extend #historia;
}

#accesorios1{
  grid-area: accesorios1;
  background-color: $gray;
  text-align: center;
  display: flex;
  justify-content: center;
  height: fit-content;
  padding: ($step)/2;
  margin: ($step)/2 0px;
  border: 2px solid $white;
}

#accesorios2{
  grid-area: accesorios2;
  @extend #accesorios1;
}


/*ACCESORIOS*/

h4 {
  color: $white;
  margin: ($step)+5 0px;
}

p {
  color: $white;
  margin: $step;
  padding: $step ($step*3);
}

.agregar-a-carrito {
  display: inline-block;
  text-decoration: none;
  color: $blue;
  background-color: $white;
  padding: $step ($step*3);
  border: 3px solid $white;
  border-radius: ($step*3);
  margin-top: ($step)+5;
  transition: all 0.4s;

  &:hover {
    background: $blue;
    color: $white;
  }
}

.joys {
  width: ($alto)/10;
}

/*REGISTRO*/

.form-control {
  align-self: baseline;
}

.form-check-input {
  background: $white;
}

/* RESPONSIVE */

/* Smartphones (horizontal) ----------- */
@media (max-width: 760px) {
  body {
    font-size: small;
  }

  #plantillahome {
    grid-template-areas: "header" "noticias" "ofertas" "footer";
    grid-template-columns: 1fr;
  }

  #plantillanosotros {
    display: grid;
    grid-template-areas: "header" "fotos" "historia" "historiados" "footer";
    grid-template-columns: 1fr;
  }

  #fotos {
    height: ($alto)-55;
    padding: 0 ($step*5);
    margin: 5px;
  }

  #plantillasesion {
    display: grid;
    grid-template-areas: "header" "imagensesion" "datos" "footer";
    grid-template-columns: 1fr;
  }

  #imagensesion {
    height: ($alto)-60;
    padding: 0 2px;
    margin: 0 2px;
  }

  #datos {
    margin: ($step*2) ($step*10);
  }

  #accesorios1, #accesorios2 {
    flex-direction: column;
    display: block;
    height: fit-content;
  }

  #registro {
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 5vh;
  
  }
}
@media (max-width: 1300px) and (min-width: 760px){
  body {
    font-size: medium;
  }
  #registro {
    display: flexbox;
    justify-content: space-between;
    padding: ($step)*5;

}

}
